body {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 90%;
}
table {
    border-collapse: collapse;
	width: 750px;
    
}
table tr th{
    width:20%;
    text-align:center;
    background-color: lightblue;
    color: #000044;
}
table tr td{
    text-align:center;
    padding:auto;
}

.inline{
	background-color:#ececec;
}

    .wrap {
  border: 1px  solid;
  font-size: 0;
  margin-left:150px;
}
.resizable {
  height: 50px;
  padding: 0.5em;
  background-color: gray;
  display: inline-block;
}
.ui-resizable-e {
  cursor: e-resize;
  width: 5px;
  right: -5px;
  top: 0;
  bottom: 0;
  background-color: white;
}
p{
  margin: 2px;
}
p.hover{
  background-color:#fff69b
}
input{
  max-width: 80px;
  width: auto !important;
  text-align:center;
}
.ui-button-text-only .ui-button-text {
    padding: .3em .5em;
}

.selectable .ui-selecting { background: #B0C4DE; }
.selectable .ui-selected { background: #4682B4; color: white; }
.selectable .block {background:#C0C0C0}
.selectable { list-style-type: none; font-size:12px;}
.selectable li { margin: 3px; padding: 1px; float: left; width: 50px; height: 40px; font-size: 1.2em; text-align: center; }
