.wizard,
.tabcontrol
{
    width: 95%;
}


.wizard.vertical > .steps{
    width:20%;
}

.wizard.vertical > .content {
    width:75%;
}

prev{
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
} 
